@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="container features">
        <div class="row animated fadeIn">
            <h1 class="display-4">Welcome</h1>
            <h3>Project developed for the selection test for software engineer at Vortx.</h3>
            <br />
        </div>
        <div class="row">
            <div class="col-md-3 text-center animated fadeInDown">
            </div>
            <div class="col-md-6 text-center animated fadeInDown">
                <img src="~/image/laptop.png" alt="dashboard" class="img-responsive">
            </div>
            <div class="col-md-3 text-center animated fadeInDown">
            </div>
        </div>
        <div class="row animated fadeIn">
            <br />
            <p>To access the project repository <a href="https://github.com/rsaguiar/ra.webapp" target="_blank">click here</a>.</p>
        </div>
    </section>
</div>